@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('../assets/font/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    /* Peso de la fuente "ExtraBold" */
}

@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('../assets/font/MPLUSRounded1c-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('../assets/font/MPLUSRounded1c-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: 'M PLUS Rounded 1c';
    background: #0E061F;
}

.imagen-playlist {
    width: 140px;
    height: 160px;
}

.text-justify {
    text-align: justify;
}


/* .play-playlist {
    margin-top: 70px;
    margin-left: 55px;
} */